<!doctype html>
<html lang="en">
  <head>
    <title>{{ hashtag }}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    {{{ body }}}
  </body>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/app.js"></script>
</html>
